@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(25, 25, 25, 0.75);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-azul-de-tecnologia-de-dados-com-midia-remixada-por-hacker_53876-108534.jpg");
}

.content {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: auto;
    height: 500px;
}

.divisao {
    height: 5px;
    background-color: rgb(0, 76, 175);
    border: none;
    background-attachment: fixed;
}

.fade-um {
    background-color: rgb(0, 89, 206);
}

.fade-dois {
    background-color: rgb(0, 110, 255);
}

.esmaecer{
    background-color: rgba(25, 25, 25, 0.85);
}
